<% if job.owner == current_user  %>
<span class="manage">
<%= link_to t(:edit), edit_job_path(job), :class => "edit" %>	
<% if job.closed? %>
	<%= link_to t(:open), open_job_path(job), :confirm => t(:are_you_sure), :method => :put, :class => "open" %>
<% else %>
		<%= link_to t(:close), close_job_path(job), :confirm => t(:are_you_sure), :method => :put, :class => "close" %>
<% end %>	
<%= link_to t(:delete), job_path(job), :confirm => t(:are_you_sure), :method => :delete, :class => "delete" %>
</span>	
<% end %>