<p><%= link_to 'Post a new job', new_job_path %></p>

<ul>
<% @jobs.each do |job| %>

	<li>
		<%= link_to job.title, job_path(job) %> at <%= job.location %>
		
		<%= render :partial => "owner_buttons", :locals => { :job => job } %>
		
	</li>
	
<% end %>
</ul>