<div data-role="page">
  <header data-role="header">
    <h1><%= t("post_a_new_job") %></h1>
    <%= link_to 'Jobs', root_path, "data-icon" => "arrow-l", "class" => "ui-btn-left" %>
  </header>

  <div data-role="content">
    <%= render :partial => 'form', :object => @job %>
  </div><!-- content -->


  <footer data-role="footer">
    <h4>Ruby.tw</h4>
  </footer>
</div>
