<div class="foot">
  <p><a href="/about">FAQ</a> | The job board is a free service by <a href="http://ruby.tw/">Ruby Taiwan</a> and hosted by <a href="http://www.openfoundry.org/">OSSF</a></p>
<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, "class" => "ui-btn-right", :rel => "external" %>
<% else %>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><%= link_to 'Sign In', new_session_path(:user),      "data-role" => "button" %></div>
    <div class="ui-block-b"><%= link_to 'Sign Up', new_registration_path(:user), "data-role" => "button" %></div>
  </fieldset>
<% end %>
</div>
