	<h2 class="pagetitle">常見問題</h2>
	<dl class="faq menu">
	    <dt>這項服務由誰提供?</dt>
	    <dd>由 <a href="http://ruby.tw/" target="_blank">Ruby Taiwan</a> 提供。</dd>
	    <dt>如何張貼，需要付費嗎?</dt>
	    <dd>只要註冊經過 E-mail 認證，就可以張貼了，不需要付費。但是請不要張貼與 Ruby/Rails 毫無任何關係的工作，我們會刪除掉。</dd>
	    <dt>這些工作好贊，我想要學 Ruby 跟 Rails，請問可以從哪裡開始?</dt>
	    <dd>您可以參考這個也是由我們整理的 <a href="http://guides.ruby.tw/" target="_blank">Ruby 學習文件</a>。</dd>
	    <dt>這個 Job Board 程式有開放原始碼嗎?</dt>
	    <dd>有的，程式碼放在 <a href="http://github.com/rubytaiwan/jobs.ruby.tw" target="_blank">GitHub</a>，採用 MIT 授權(除了 CSS 視覺設計)。</dd>
	    <dt>有任何問題，該如何聯絡你們?</dt>
	    <dd>請來信 <a href="mailto:ihower@gmail.com">ihower@gmail.com</a></dd>
	</dl>
