	<h2 class="pagetitle">FAQ</h2>
	<dl class="faq menu">
	    <dt>Who provide this service?</dt>
	    <dd><a href="http://ruby.tw/" target="_blank">Ruby Taiwan</a> community.</dd>
	    <dt>How to post? Need I pay for it?</dt>
	    <dd>It's free. You only need to register and be confirmed by E-mail. Do not post irrelevant Ruby/Rails job, we will delete it. </dd>
	    <dt>The jobs are awesome! I want to learn Ruby/Rails! Where am I getting started?</dt>
	    <dd>You can visit <a href="http://guides.ruby.tw/" target="_blank">Ruby Taiwan Guides</a> which is maintained by us, too.</dd>
	    <dt>Does this job board open source?</dt>
	    <dd>Yes, the source code is at <a href="http://github.com/rubytaiwan/jobs.ruby.tw" target="_blank">GitHub</a>, which is licensed by MIT (except visual  design).</dd>
	    <dt>If I have any question, how to contact you?</dt>
	    <dd>E-mail to <a href="mailto:ihower@gmail.com">ihower@gmail.com</a></dd>
	</dl>
