<h2>About this job board</h2>

<p>
	問: 這項服務由誰提供?
	答: 由 <a href="http://ruby.tw">Ruby Taiwan</a> 提供。
</p>

<p>
    問: 如何張貼，需要付費嗎?
    答: 只要註冊經過 E-mail 認證，就可以張貼了。目前張貼是免費的，不過 Ruby Taiwan 保留審核的權力，特別是與 Ruby/Rails 無任何相關的工作。
</p>

<p>
    問: 工作好贊，請問哪裡可以學習 Ruby/Rails?
    答: 請參考也是由 Ruby Taiwan 提供的 <a href="http://guides.ruby.tw">Ruby 文件典藏計畫</a>
</p>

<p>
    問: 這個 Job Board 程式有開放原始碼嗎?
    答: 在 <a href="http://github.com/ihower/jobs.ruby.tw">http://github.com/ihower/jobs.ruby.tw</a>，除了 CSS 視覺設計之外，程式碼是 MIT 授權。
</p>

<p>
    問: 有任何問題，該聯絡?
    答: 請來信 <a href="mailto:ihower@gmail.com">ihower@gmail.com</a>
</p>