defaults: &defaults
  app_name: "Ruby Jobs in Taiwan"
  domain: "http://jobsrubytw.dev"
  facebook_app_id:
  facebook_secret:
  mail_from: 'noreply@ruby.tw'
  admin_emails:
    - "ryudoawaru@gmail.com"
    - "ihower@gmail.com"
  google_analytics_key: ""
  default_logo_url: "/logo.png"
  action_mailer:
    delivery_method: sendmail
  exception_notification_mailer:
    email_prefix: '[Ruby Taiwan Exception Notifier - Production]'
    sender_address: '"notifier" <noreply@ruby.tw>'
    exception_recipients:
      - ihower@gmail.com
      - ryudo@ruby.tw
development:
  <<: *defaults

test:
  <<: *defaults
production:
  <<: *defaults
  domain: "http://jobs.ruby.tw"
  action_mailer:
    perform_deliveries: true
    delivery_method: :smtp
    raise_delivery_errors: true
