default: &default
  adapter: mysql2
  encoding: utf8
  host: localhost
  port: 3306
  username: root
  password:

development:
  <<: *default
  database: jobs_ruby_tw_development

test:
  <<: *default
  database: jobs_ruby_tw_test

production:
  <<: *default
  database: jobs_ruby_tw_production