<div class="menu-container">
  <ul class="menu-nav">
    <li class="menu-active">
    	<%= link_to cpanel_dashboards_path, style: "text-decoration: none;" do %>
        <span class="menu_text">
        	<span class="glyphicon glyphicon-book" aria-hidden="true"></span> 職缺管理
        </span>
        <% end %>
    </li>
    <li>
      <a href="#">
        <span class="menu_text">
        	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        	待新增功能
        </span>
      </a>
      </li>
    <li>
      <a href="#">
        <span class="menu_text">
        	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        	待新增功能
        </span>
      </a>
      </li>
    <li>
      <a href="#">
        <span class="menu_text">
        	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        	待新增功能
        </span> 
      </a>
    </li>
    <li>
      <a href="#">
        <span class="menu_text">
        	<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        	待新增功能
        </span>
      </a>
    </li>
  </ul>
</div>